/.vs
/.DS_Store
/Temp
/obj
/UnityGenerated
/Library
/Assets/AssetStoreTools*
/UnityVS
/ProjectSettings
/ExportedObj/

/*.csproj
/*.pidb
/*.sln
/build
/*.goutputstream*
/*.userprefs
/*.apk
/*.svd
/*.suo
/*.user
/*.unityproj
/*.booproj