/.vs
/.DS_Store
/Temp
/obj
/UnityGenerated
/Library
/Assets/AssetStoreTools*
/Assets/UnityVS/
/Assets/UnityVS.meta

/ExportedObj/

/*.csproj
/*.pidb
/*.sln
/build
/*.goutputstream*
/*.userprefs
/*.apk
/*.svd
/*.suo
/*.user
/*.unityproj
/*.booproj

/Assets/LobbyModel/大堂 sw.max
/Assets/StreamingAssets/tempDatabase.*
/Assets/StreamingAssets/image/*
/Assets/StreamingAssets/video/*
