<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.poturns.virtualpalace.mobiletest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".DriveTestActivity">
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SensorTestActivity"
            android:label="@string/title_activity_sensor_test" >
        </activity>
        <activity
            android:name=".DatabaseTestActivity"
            android:label="@string/title_activity_database_test" >
        </activity>
        <activity
            android:name=".ControllerTestActivity"
            android:label="@string/title_activity_controller_test" >
        </activity>
        <activity
            android:name=".DriveTestActivity"
            android:label="@string/title_activity_drive_test" >
        </activity>

    </application>

</manifest>
